# Ignoring files for Ansible-Galaxy
# https://github.com/ansible/galaxy/issues/78#issuecomment-336321484
.gitattributes export-ignore
.gitignore export-ignore
.jenkins export-ignore
.yamllint export-ignore
CONTRIBUTING.md export-ignore
Jenkinsfile export-ignore
MANIFEST.in export-ignore
test export-ignore
setup.py export-ignore
test-requirements.txt export-ignore
tox.ini export-ignore